@media only screen and (max-width: 1200px) {
    html {
        width: 1400px;
}
}

@media only screen and (max-width: 995px) {
    html {
        width: 1400px;
}
}

@media only screen and (max-width: 770px) {
    html {
        width: 1400px;
}
}

@media only screen and (max-width: 480px) {
    html {
        width: 1400px;
}
}

@media only screen and (max-width: 320px) {
    html {
        width: 1400px;
}
}