.header{
    background-color:rgb(64, 09, 72);
    display: flex;
    justify-content: space-around;
}
body {
    margin: 0px;
}
.main {
    width: auto;
}
html {
    width: 100%;
}
.header__title{
    color: rgb(255, 255, 255);
    font-family: Bitter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}
.nav__list{
    display: flex;
    list-style: none;
}
.nav__item{
    color: rgb(228, 228, 228);
    font-family: Bitter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin-right: 30px;
}
.container__header{
    display: flex;
    align-items: center;
}
.hero-block__title{
    color: rgb(228, 228, 228);
    font-family: Bitter;
    font-size: 72px;
    font-weight: 400;
    line-height: 86px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 182px;
}
.hero-block{
    background: rgb(129, 11, 148);
}
.hero-block__text{
    color: rgb(228, 228, 228);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;

}
.hero-block__img{
    margin-top: 52px;
    margin-left: 104px;
    margin-right: 81px;
    margin-bottom: 84px;
    width: auto;
}
.container__hero-block{
    display: flex;
}
.about {
    background: rgb(129, 11, 148);
}
.about__title {
    color: rgb(228, 228, 228);
    font-family: Bitter;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0px;
    padding-top: 70px;
}
.about__progressBar_title {
    color: rgb(228, 228, 228);
    font-family: Bitter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    list-style: none;
}
.about__full {
    width: 356px;
    height: 10px;
    background: rgb(240, 0, 66);
}
.about__done {
    width: 34px;
    height: 10px;
    background: rgb(44, 44, 44);
}
.about__full_1 {
    width: 356px;
    height: 10px;
    background: rgb(240, 0, 66);
}
.about__done_1 {
    width: 101px;
    height: 10px;
    background: rgb(44, 44, 44);
}
.about__full_2 {
    width: 356px;
    height: 10px;
    background: rgb(240, 0, 66);
}
.about__done_2 {
    width: 55px;
    height: 10px;
    background: rgb(44, 44, 44);
}
.about__full_3 {
    width: 356px;
    height: 10px;
    background: rgb(240, 0, 66);
}
.about__done_3 {
    width: 5px;
    height: 10px;
    background: rgb(44, 44, 44);
}
.about__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about__progressBar_list {
    list-style: none;
}
.video__title {
    color: rgb(228, 228, 228);
    font-family: Bitter;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0px;
}
.video {
    background: rgb(95, 6, 109);

}
.video__video {
    width: 1009px;
    height: 562px;
    border: 20px solid rgb(65, 65, 65);
    border-radius: 29px;
    margin-bottom: 94px;
}
.container__video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gallery__item {
    width: 30%;
    list-style: none;
    margin: 10px;
}
.gallery__img {
    width: 100%;
    height: 100%;
}
.container__gallery {
    background: rgb(129, 11, 148)
}
.gallery__list {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery__title {
    color: rgb(228, 228, 228);
    font-family: Bitter;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0px;
}
.footer__title {
    color: rgb(228, 228, 228);
    font-family: Bitter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.footer {
    background: rgb(129, 11, 148);
}
.footer__list {
    display: flex;
    list-style: none;
}
.footer__text {
    color: rgb(255, 255, 255);
    font-family: Bitter;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.06%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.container__footer {
    display: flex;
    justify-content: space-around;
}
.footer__img {
    margin-right: 15px;
    transition: 1s;
}
.footer__img:hover {
    border-radius: 30px;
}